// Override default variables before the import

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 18px 0;

  .custom-button {
    height: 100%;
    width: auto;
    border: 2px solid rgb(114, 191, 0);
    border-radius: 4px;
  }
  .warning {
    font-size: 12px;
    color: rgb(242, 73, 54);
  }
  a:hover {
    text-decoration: none;
  }
  .card:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card {
    background-color: #fafafa;
    span,
    .location,
    .price,
    .title {
      color: #000;
      font-weight: 600;
    }
    .title {
      font-weight: 700;
      font-size: 16px;
      padding: 0 0 8px 0;
    }
    .condition {
      color: rgb(245, 111, 96);
    }
    .location {
      font-weight: normal;
    }
    .price {
      padding: 8px 12px;
      border: 2px solid rgb(114, 191, 0);
      border-radius: 4px;
      text-align: center;
    }
  }
}
